In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import warnings

warnings.filterwarnings('ignore')

#### Import data

In [3]:
data = pd.read_csv("data/walmart-preprocessing-test.csv")
data

,Store,Dept,IsHoliday,DateTime,Week,Month,SpecialDay,Type_A,Type_B,Type_C,CPI,Unemployment,Size,Year
0,1,1,0,2012-11-02,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
1,1,2,0,2012-11-02,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
2,1,3,0,2012-11-02,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
3,1,4,0,2012-11-02,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
4,1,5,0,2012-11-02,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,93,0,2013-07-26,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115060,45,94,0,2013-07-26,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115061,45,95,0,2013-07-26,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115062,45,97,0,2013-07-26,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115063,45,98,0,2013-07-26,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883

#### Define X

In [5]:
X = data.drop(["DateTime"],axis=1)
X

,Store,Dept,IsHoliday,Week,Month,SpecialDay,Type_A,Type_B,Type_C,CPI,Unemployment,Size,Year
0,1,1,0,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
1,1,2,0,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
2,1,3,0,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
3,1,4,0,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
4,1,5,0,44,11,-1,1,0,0,1.379278,-2.284576e-01,0.242483,-1.815267
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115059,45,93,0,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115060,45,94,0,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115061,45,95,0,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115062,45,97,0,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883
115063,45,98,0,30,7,-1,0,1,0,0.000000,2.058387e-15,-0.299095,0.550883

#### Load model

In [7]:
import pickle

loaded_model = pickle.load(open("models/RandomForestModel.sav", 'rb'))
y = loaded_model.predict(X)

In [22]:
predicted_list = []
for i,row in enumerate(data.values,0):
    Id = f"{str(row[0])}_{str(row[1])}_{str(row[3])}"
    predicted_list.append([Id,y[i]])
predicted_df = pd.DataFrame(data=predicted_list,columns=["Id","Weekly_Sales"])
predicted_df

                      Id  Weekly_Sales
0         1_1_2012-11-02    34115.0696
1         1_2_2012-11-02    44695.6132
2         1_3_2012-11-02     9661.5189
3         1_4_2012-11-02    35473.5100
4         1_5_2012-11-02    25148.0079
...                  ...           ...
115059  45_93_2013-07-26     3104.1218
115060  45_94_2013-07-26     3149.6984
115061  45_95_2013-07-26    60154.1545
115062  45_97_2013-07-26     5891.2646
115063  45_98_2013-07-26      185.3535

[115064 rows x 2 columns]

In [23]:
predicted_df.to_csv("outputs/predicted-test.csv")